<header>

    <div class="nav-bar">
    
        <div>
            <a href="/">
                <img src="https://images.icps7.xyz/logo/icps_web_white.png" class="icps-logo">
            </a>
        </div>
    
        <div class="menu-icon-container">
            <a href="javascript:executeMenuPrograms()">
                <span id="menu-icon" class="fas fa-stream"></span>
            </a>
        </div>
    
    </div>
    
    
    <div id="menu" class="menu" style="max-height:0px;">
    
        <a href="{% url 'fixtures' %}"><span class="fa fa-calendar"></span> Fixtures</a>
        <a href="http://"><span class="fa fa-bar-chart"></span> Stats</a>
        <a href="http://"><span class="fa fa-group"></span> Teams</a>
        <a href="#about"><span class="fa fa-futbol"></span> About ICPS</a>
        
        <br>
        <span style="color:grey;">______________</span>
        <br>
        
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <br><br>    
        <a style="background-color: transparent; color: green; border: 1px solid green; padding: 5px; border-radius: 5px;" href="/mnbvcxz/">
        <span class="fa fa-user-secret"></span> 
        Admin
        </a>
        {% endif %}
        <br>
        <a style="background-color: transparent; color: red; border: 1px solid red; padding: 5px; border-radius: 5px;" href="{% url 'logout' %}">
            <span class="fa fa-power-off"></span> 
            Logout
        </a>
        <br>
        {% else %}
        <br>
        <a style="background-color: transparent; color: white; border: 1px solid white; padding: 5px; border-radius: 5px; margin-right:1em; display: inline;" href="{% url 'signup' %}"> 
            <span class="fa fa-user-plus"></span>
            Signup
        </a>
      
        <a style="background-color: transparent; color: white; border: 1px solid white; padding: 5px; border-radius: 5px; display: inline;" href="{% url 'login' %}">
            <span class="fa fa-sign-in"></span> 
            Login
        </a>
        <br><br>
        {% endif %}
    
    </div>

</header>