{% extends 'base.html' %}
{% load static %}

{% block content %}
    <fieldset>
        <legend>Kit Name & Number</legend>
        <form method="POST" style="text-align: center;">
            {% csrf_token %}
            <p style="color: red;">{{err_msg}}</p>
            <input type="text" name="kit_name" placeholder="Kit Name" required>
            <br><br>
            <label for="">Kit Number: </label><select name="kit_number" required>
                <option value="">--</option>
                {% for n in kit_numbers %}
                    <option value="{{n}}">{{n}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit">Set Kit Name & Number</button>
        </form>
    </fieldset>
{% endblock content %}