{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'bg_cr7.html' with cr='season-cr7.png' %}
    <head>
        <style>
            .msg-bg {
                background-color: rgba(255,255,255,0.9);
                padding: 1em;
                text-align: center;
                border: 1px solid rgba(0,0,0,0.1);
            }
        </style>
    </head>
    
    {% if activation_link %}
    <div class="msg-bg">
        <h1><span style="color: green;" class="fa fa-check-circle"></span> Activation Link Sent!</h1>
        <p>Check your email inbox including spam folder and <b>activate your account.</b></p>
    </div>
    {% endif %}
    {% if magic_link %}
    <div class="msg-bg">
        <h1><span style="color: green;" class="fa fa-check-circle"></span> Magic Link Sent!</h1>
        <p>Check your email inbox including spam folder and <b>set new password.</b></p>
    </div>
    {% endif %}
{% endblock content %}