<head>
    <style>
        .cr7-phone {
            display: none;
        }
        @media only screen and (max-width:540px) {
            .cr7-phone {
                display: block;
            }
            .cr7-pc {
                display: none;
            }
        }
    </style>
</head>

<div class="cr7-pc">
    <div>
        <img src="https://images.icps7.xyz/cr7/one-dream-cr7.png" style="width: 100%;">
    </div>
</div>

<div class="cr7-phone">
    <div>
        <img src="https://images.icps7.xyz/cr7/phone-one-dream-cr7.png" style="width: 100%;">
    </div>
    
</div>