{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'bg_cr7.html' with cr='one-cr7.png' %}
    <head>
        <style>
            .msg-bg {
                background-color: rgba(255,255,255,0.9);
                padding: 1em;
                text-align: center;
                border: 1px solid rgba(0,0,0,0.1);
            }
        </style>
    </head>

    <div class="msg-bg">
        <h4><span style="color: green;" class="fa fa-check-circle"></span> Password Changed!</h4>
        <p>Your password has been changed. Please, <a href="{% url 'login' %}">login.</a></p>
    </div>
{% endblock content %}