{% extends 'base.html' %}
{% load static %}

{% block content %}
<fieldset>
    <legend>Set Captain</legend>
    <form method="POST" style="text-align: center;">
        {% csrf_token %}
        <p style="color: red;">{{err_msg}}</p>
        <label for="">Choose Player: </label><select name="player_id" required>
            <option value="">--</option>
            {% for p in players %}
                <option value="{{p.id}}">{{p.user.username}} / {{p.user.first_name}} {{p.user.last_name}}</option>
            {% endfor %}
        </select>
        <br><br>
        <button type="submit">Set Captain</button>
    </form>
</fieldset>
{% endblock content %}