{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <style>
            .preview {
                width: 225px; height: 225px; 
                border-radius: 100%;
                display: block; margin: 0 auto 0 auto;
                border: none;
            }
        </style>
    </head>


    <fieldset>
        <legend style="font-size: 150%;">Upload Profile Picture</legend>
        <form style="text-align: center; padding: 1em; margin:0 auto 0 auto;" method="POST">
            {% csrf_token %}
            
            <p style="color: red;">{{err_msg}}</p>
            <img src="" class="preview" id="previewer" style="display: none;">
            
            <br>
            <br>
            <input type="file" id="image-input" onchange="previewImage()" accept="image/jpeg" required>
            <textarea name="pic_url" id="image-url-input" style="display: none;"></textarea>
            <br><br><br>
            <button type="submit">Upload</button>
        </form>
        <script src="{% static 'js/preview.js' %}"></script>
    </fieldset>
{% endblock content %}