{% extends 'base.html' %}
{% load static %}

{% block content %}

    <head>
        <style>
            .club-profile-logo{
                width: 100px;
                height: 100px;
                padding: 0.5em;
                border-radius: 100%;
                box-shadow: 0 1px 4px grey;
            }

            .applicant-pic {
                width: 50px;
                height: 50px;
                padding: 1px;
                box-shadow: 0 1px 4px grey;
                border-radius: 100%;
            }

           
            .req-player-container-squad {

                border: 1px solid rgba(0,0,0,0.1);
                border-radius: 10px;
                padding: 1em;
                margin: 2em 0 2em 0;
            }
            .requested-player {
                display: grid;
                grid-template-columns: 2fr 1fr;
            }

            @media only screen and (max-width:540px) {
                #response {
                    font-size: 60%;
                }
            }
        </style>
    </head>

    <div>
        <div>
            <img src="{{club.logo_url}}" class="club-profile-logo">
        </div>
        <div>
            <h1>{{club.name}}</h1>
            <p style="color: rgba(0,0,0,0.2);"><span>{{club.acronym}} | {{club.short_name}} | Group {{club.group}}</span></p>
        </div>
    </div>
    <hr style="border: 1px solid rgba(0,0,0,0.1);">

    {% if manager_is_captain %}
    <fieldset>
        <legend><span class="fa fa-user-tie"></span> Manager and <span class="fa fa-shield"></span> Captain</legend>
        
        <div class="req-player-container">
            <div class="requested-player">
                <div>
                    <img src="{{captain.picture.pic_url}}" class="applicant-pic"><br>
                    <span>{{captain.user.first_name}} {{captain.user.last_name}}</span>
                    <br>
                    {% if captain.kit_number %}
                    {% if captain.kit_name %}   
                    <span style="color: rgba(0,0,0,0.3);">
                       {{captain.kit_number}} {{captain.kit_name}} 
                    </span>
                    {% endif %}    
                    {% endif %}
                </div>
                <div style="display: flex; align-items: center; justify-content: right;">
                    <a id="response" href="/profile/{{captain.user.username}}" style="border:1px solid black; color: black; background-color: White; padding: 5px; border-radius: 2px; text-decoration: none;"><span class="fa fa-address-card"></span> profile</a>
                </div>
            </div>
            
        </div>
        </fieldset>
    {% else %}


    {% if squad_manager %}
    <fieldset>
        <legend>
            <span class="fa fa-user-tie"></span> Manager
            {% if squad_manager.is_player %}
                and Player</span>
            {% endif %}
        </legend>
        
        <div class="req-player-container">
            <div class="requested-player">
                <div>
                    <img src="{{squad_manager.picture.pic_url}}" class="applicant-pic"><br>
                    <span>{{squad_manager.user.first_name}} {{squad_manager.user.last_name}}</span>
                    <br>
                    <span style="color: rgba(0,0,0,0.3); font-size: 50%;">
                        <span class="fa fa-user"></span>
                        {{squad_manager.user.username}}
                        &nbsp;|&nbsp;
                        <span class="fa fa-envelope"></span>
                        {{squad_manager.user.email}}
                    </span>
                </div>
                <div style="display: flex; align-items: center; justify-content: right;">
                    <a id="response" href="/profile/{{squad_manager.user.username}}" style="border:1px solid black; color: black; background-color: White; padding: 5px; border-radius: 2px; text-decoration: none;"><span class="fa fa-address-card"></span> profile</a>
                </div>
            </div>
            
        </div>
        </fieldset>
    {% endif %}


    {% if captain %}
    <fieldset>
        <legend><span class="fa fa-shield"></span> Captain</legend>
        
        <div class="req-player-container">
            <div class="requested-player">
                <div>
                    <img src="{{captain.picture.pic_url}}" class="applicant-pic"><br>
                    <span>{{captain.user.first_name}} {{captain.user.last_name}}</span>
                    <br>
                    {% if captain.kit_number %}
                    {% if captain.kit_name %}   
                    <span style="color: rgba(0,0,0,0.3);">
                       {{captain.kit_number}} {{captain.kit_name}} 
                    </span>
                    {% endif %}    
                    {% endif %}
                </div>
                <div style="display: flex; align-items: center; justify-content: right;">
                    <a id="response" href="/profile/{{captain.user.username}}" style="border:1px solid black; color: black; background-color: White; padding: 5px; border-radius: 2px; text-decoration: none;"><span class="fa fa-address-card"></span> profile</a>
                </div>
            </div>
            
        </div>
        </fieldset>
    {% endif %}

    {% endif %}

    

        <br><br>
    <fieldset>
        <legend><span class="fa fa-group"></span> Squad</legend>
    {% if squad %}
    {% for member in squad %}

        <div class="req-player-container-squad">
    
           <div class="requested-player">
                <div>
                    <img src="{{member.picture.pic_url}}" class="applicant-pic"><br>
                    <span>{{member.user.first_name}} {{member.user.last_name}}</span>
                    
                    {% if member.is_manager %}
                    <span class="fa fa-user-tie"></span>
                    {% endif %}
                    {% if member.is_captain %}
                        <span class="fa fa-shield"></span>
                    {% endif %}
                    <br>
                    {% if member.kit_number %}
                    {% if member.kit_name %}   
                    <span style="color: rgba(0,0,0,0.3);">
                       {{member.kit_number}} {{member.kit_name}} 
                    </span>
                    {% endif %}    
                    {% endif %}
                </div>
                <div style="display: flex; align-items: center; justify-content: right;">
                    <a id="response" href="/profile/{{member.user.username}}" style="border:1px solid black; color: black; background-color: White; padding: 5px; border-radius: 2px; text-decoration: none;"><span class="fa fa-address-card"></span> profile</a>
                </div>
            </div>
            
        </div>
            {% endfor %}
            {% else %}
            <p style="color: rgba(0,0,0,0.3);">No players are added.</p> 
            {% endif %}
        </fieldset>
        
        

{% endblock content %}