<!-- <div class="cr7">

    <div>
        <h3>
            A TRIBUTE TO YOU-KNOW-WHO!
        </h3>
    </div>
    <div>
        <img src="https://images.icps7.xyz/cr7/season-cr7.png">
    </div>
    

</div>

<div class="cr7">

    <div>
        <img src="https://images.icps7.xyz/cr7/one-cr7.png">
    </div>
    <div>
        <h3>
            10 TEAMS, 160 WARRIORS, 1 DREAM
        </h3>
    </div>
    

</div> -->

<head>
    <style>
        .cr7-phone {
            display: none;
        }
        @media only screen and (max-width:540px) {
            .cr7-phone {
                display: block;
            }
            .cr7-pc {
                display: none;
            }
        }
    </style>
</head>

<div style="border:1px 0px 1px 0px solid rgba(0,0,0,0.1)">

    <div class="cr7-pc">
        <div>
            <img src="https://images.icps7.xyz/cr7/tribute-cr7.png" style="width: 100%;">
    </div>
</div>

<div class="cr7-phone">
    <div>
        <img src="https://images.icps7.xyz/cr7/phone-tribute-cr7.png" style="width: 100%;">
    </div>
    
</div>

</div>