

* {
    font-family: "Trebuchet MS";
}



html, body {
    padding: 0;
    margin: 0;
}

.icps-logo {
    width: 100px;
}


button {
    background-color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 5px;
    transition: 0.5s;
}




button:hover {
    background-color: black;
    color: white;
}